html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}

#app>div[data-v-7ba5bd90] {
    height: 100%;
    background-color: #eaedf2;
}

.main_breadcrumb {
    border-radius: 0.1rem;
    height: 0.5rem;
    line-height: 0.5rem;
    padding-left: 0.1rem;
    background-color: #eee;
    font-size: 0.16rem;
}

.general_card .title_crad {
    font-size: 0.26px;
}

.general_card .data_table {
    margin-top: 0.1rem;
}

.el-card {
    border-radius: 0.1rem;
    margin-bottom: 0.2rem;
}

.title {
    font-size: 0.3rem;
}

.el-form-item__label {
    font-size: 0.16rem;
    font-weight: 600;
}

.el-tabs__item.is-active {
    color: hsl(0, 0%, 100%);
    background-color: hsl(208, 56%, 53%);
}

.el-tabs--left .el-tabs__item.is-left {
    text-align: right;
    width: 2rem;
    border-radius: 5%;
}

.el-notification.right {
    display: none;
}

img {
    vertical-align: middle;
}